/* Basic reset */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	height: 100%;
	margin: 0;
}

body {
	font-family: Arial, sans-serif;
	background-color: #f9f9f9;
	color: #333;
	display: flex;
	flex-direction: column;
}

header {
	background-color: #333;
	padding: 10px;
	text-align: center;
}

header nav ul {
	list-style-type: none;
}

header nav ul li {
	display: inline;
	margin: 0 15px;
}

header nav ul li a {
	color: white;
	text-decoration: none;
	font-size: 18px;
}

.content {
	margin: 20px;
}

footer {
	position: sticky;
	text-align: center;
	margin-top: 50px;
	padding: 10px;
	background-color: #333;
	color: white;
}

main {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	column-gap: 8px;
}

#profile_div {
	margin-top: 20px;
	margin-bottom: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 8px;
}

button, input[type="submit"] {
	cursor: pointer;
	background-color: blue;
	color: white;
	padding: 10px;
	border: none;
	border-radius: 15px;
}

button:hover {
	background-color: rgb(130, 130, 224);
}